@page "/"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@using MTG_Project.Services
@using MTG_Project.Models

@attribute [Authorize]

<PageTitle>MTG Deck Builder</PageTitle>

<h1>Welcome to the MTG Deck Builder!</h1>

<p>Choose your cards to build a deck.</p>

<EditForm Model=cardSearch OnSubmit=SearchCards class="card-search">
    <div class="card-search-text">
        <div class="label-textbox">
            <label for="cardSearchTerm">Search for cards:</label>
            <InputText @bind-Value="cardSearchTerm" placeholder="(Optional) Search by cardname..." />
        </div>
        <div class="label-textbox">
            <label for="artistSearchTerm">Search for artist:</label>
            <InputText @bind-Value="artistSearchTerm" placeholder="(Optional) Search by artist..." />
        </div>
    </div>
    <div class="card-search-filter">
        <p>Filter:</p>
    </div>
    <div class="card-search-sort">
        Sort:
        <select @bind="sortValue">
            <option value="Id">Id</option>
            <option value="Name">Name</option>
            <option value="Artist">Artist</option>
            <option value="RarityCodeNavigation">Rarity</option>
        </select>
    </div>
    <input type="submit" @onclick="SearchCards" value="Search"/>
</EditForm>

<div class="card-display">
    <h2>Cards</h2>

    <ul class="image-list">
        @foreach (Card card in myCards)
        {
            <li>
                <figure class="figure-flex">
                    @if (card.OriginalImageUrl != null)
                    {
                        <img src="@card.OriginalImageUrl" alt="@card.Name">
                    }
                    else
                    {
                        String imageUrl = "https://api.scryfall.com/cards/named?exact=" + card.Name + "&format=image";
                        <img src="@imageUrl" alt="@card.Name">
                    }
                    <figcaption>@card.Name</figcaption>
                </figure>
            </li>
        }   

    </ul>

    @if (myCards.Count == 0)
    {
    <h3>No cards found.</h3>
    }
    else {
        <ul class="card-nav">
            @if (pageNumber > 1)
            {
                <li class="card-nav-item">
                    <button class="card-nav-link" @onclick="PrevPage">Prev</button>
                </li>
            }
            <li class="card-nav-page">@pageNumber</li>
            @if (hasMoreCards)
            {
                <li class="card-nav-item">
                    <button class="card-nav-link" @onclick="NextPage">Next</button>
                </li>
            }
        </ul>
    }

</div>

@code {
    IList<Card> myCards;

    Services services = new Services();

    int pageNumber;
    int pageSize = 16;
    bool hasMoreCards = true;

    string cardSearchTerm = string.Empty;
    string artistSearchTerm = string.Empty;
    string sortValue = "Id";

    CardSearch cardSearch = new CardSearch();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        pageNumber = 1;
        LoadCards();
    }

    void LoadCards()
    {
        Console.WriteLine(sortValue);

        IList<Card> cards;

        if (string.IsNullOrEmpty(cardSearchTerm) && string.IsNullOrEmpty(artistSearchTerm))
        {
            cards = services.GetAllCards(pageNumber, pageSize, sortValue);
            Console.WriteLine("Getting all cards");
        }
        else if (string.IsNullOrEmpty(artistSearchTerm))
        {
            cards = services.GetAllCardsWith(cardSearchTerm, pageNumber, pageSize, sortValue);
            Console.WriteLine("Getting all cards with cardSearchTerm");
        }
        else if (string.IsNullOrEmpty(cardSearchTerm))
        {
            cards = services.GetAllCardsWithArtist(artistSearchTerm, pageNumber, pageSize, sortValue);
            Console.WriteLine("Getting all cards with artistSearchTerm");
        }
        else
        {
            cards = services.GetAllCardsWithAndWithArtist(cardSearchTerm, artistSearchTerm, pageNumber, pageSize, sortValue);
            Console.WriteLine("Getting all cards with cardSearchTerm and artistSearchTerm");
        }

        hasMoreCards = cards.Count == pageSize;
        myCards = cards;
    }

    void SearchCards()
    {
        pageNumber = 1;
        LoadCards();
    }

    void PrevPage()
    {
        if (pageNumber > 1)
        {
            pageNumber--;
            LoadCards();
        }
    }

    void NextPage()
    {
        pageNumber++;
        LoadCards();
    }

    public class CardSearch
    {
        public string CardSearchTerm { get; set; }
        public string ArtistSearchTerm { get; set; }
    }
}
